html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.contactGrid {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr 2fr 4fr;
  grid-template-rows: 1fr 1fr;
  height: 240px;
 }

.contactHead {
    grid-column-start: 2;
    font: normal normal bold 6em/1em Helvetica Neue;
    margin: 10% 0% 10% 0%;
    width: 98%;
    letter-spacing: -6px;
}

.successHead {
  grid-column-start: 3;
  font: normal normal bold 6em/1em Helvetica Neue;
  margin: 40% 0% 10% 0%;
  width: 200%;
  letter-spacing: -6px;
}


.contactPara {
    grid-column-start: 2;
    grid-row-start: 2;
    margin: 0% 0% 10% 0%;
    width: 200%;
    font: normal normal 100 2em/1em Helvetica Neue;
    line-height: 1em;
}


.successPara {
  grid-column-start: 3;
  grid-row-start: 2;
  margin: 0% 0% 10% 0%;
  width: 200%;
  font: normal normal 100 2em/1em Helvetica Neue;
  line-height: 1em;
}

.contactForm form{
    width: 50%;
    margin: 5% auto;
    background: #F35910;
    padding: 5%;
    box-shadow: 10px 10px 15px #000000;
    font-family: 'arial';
}

.contactForm input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-family: 'arial';
    border: none;
   }

  .contactForm .button {
    background-color: #00A695; /* Green */
    border: none;
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 3%;
    
  }

  #map {
    margin: 10% auto 10% auto;
    height:60%;
    width:60%; 
    padding:0 0 0 0;
  }



  @media only screen and (max-width: 1000px) {

  .contactGrid {
      height: 300px;
     }

  .contactHead {
      grid-column-start: 2;
      font: normal normal bold 6em/1em Helvetica Neue;
      margin: 10% 0% 10% 8%;
      width: 98%;
      letter-spacing: -6px;
  }

  .contactPara {
    margin: 0% 0% 10% 8%;
    width: 130%;
  }

  #map {
    margin: 20% auto 14% auto;
} 

  }


@media only screen and (max-width: 800px)
{

  .contactGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 240px;
   }
  
.contactHead {
    grid-column-start: 2;
    font: normal normal bold 6em/1em Helvetica Neue;
    margin: 10% 0% 10% 6%;
    width: 98%;
    letter-spacing: -6px;
}

.contactPara {
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 0% 0% 10% 6%;
  width: 130%;
  font: normal normal 100 1.8em/1em Helvetica Neue;
  line-height: 1em;
}

.contactForm form{
    width: 50%;
}

.contactForm .button {
    position: relative;
    padding: 5%;
    margin: 10% auto;
  }
  
  #map {
    margin: 30% auto 10% auto;
    height: 60%;
    width: 60%;
    padding: 0 0 0 0;
} 
  
}

@media only screen and (max-width: 639px) {

  .contactGrid {
      height: 300px;
     }

  .contactHead {
      grid-column-start: 2;
      font: normal normal bold 6em/1em Helvetica Neue;
      margin: 10% 0% 10% 10%;
      width: 80%;
      letter-spacing: -6px;
  }

  .contactPara {
    font: normal normal 100 1.6em/1em Helvetica Neue;
    margin: 0% 0% 10% 10%;
    width: 100%;
  }

  #map {
    margin: 20% auto 14% auto;
} 

  }

  @media only screen and (max-width: 450px) {

    .contactGrid {
        height: 300px;
       }
  
    .contactHead {
        grid-column-start: 2;
        font: normal normal bold 4em/1em Helvetica Neue;
        margin: 10% 0% 10% 10%;
        width: 80%;
        letter-spacing: -6px;
    }
  
    .contactPara {
      font: normal normal 100 1.2em/1em Helvetica Neue;
      margin: 0% 0% 10% 10%;
      width: 100%;
    }
  
    #map {
      margin: 20% auto 14% auto;
  } 
  
    }