/*  */html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  --font-family: Helvetica Neue;
 /*   background-color:red; */
 }

/*  REAL CSS --------------- */

/*  VARIABLES */

body {
 --font-family: Helvetica Neue;
  background-color:#f5f5f5;
}

/* HEADLINE */

.headline{
  height: 250px;
}

.mainIntro {
  text-align: center;
  margin: 0% 0% 2.5% 0%;
  padding-top: 10vh;
  font: normal normal bold 4em/66px Helvetica Neue;
  letter-spacing: -3.6px;
  color: #F35910;
  text-decoration: underline black;
  width: 100%;
}

.headTag {
  font-family: Helvetica Neue;
  font-weight:300;
  font-size:0.8em;
  letter-spacing: 1.6px;
  max-width:50%;
  margin:auto;
/*   padding: 1% 0% 1% 0%; */
}

.link_head {
  text-align: left;
  font: normal normal bold 40px/66px Helvetica Neue;
  letter-spacing: -3.6px;
  color: #F68710;
  text-decoration: underline black;
  width: 100%;
}

hr{
  border: 3px solid #F68710;
  max-width: 64%;
  margin: 3% auto 0px auto;
}

/* LIST GRID & SETUP */

.list_grid{
  max-width: 65%;
  overflow: none;
  margin: 6% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow:row;
 
}

.container{
  display: flex;
  justify-content: center;
}

.item{
  max-width: 400px;
/*   margin: auto; */
  padding: 2%;
 
}

.grid_item_1{
  grid-column-start: 1;
}

.grid_item_2{
  grid-column-start: 2;
}

.grid_item_3{
  grid-column-start: 3;
}

.grid_item_4{
  grid-column-start: 1;
}

.grid_item_5{
  grid-column-start: 2;
}

#makers{
  position:relative;
  left: 50%;
}

#local{
  position:relative;
  left: 50%;
}

.links li{
  margin: 10px;
  font-family: var(--font-family);
  font-size:10px;
}

.links a{
 text-decoration: none;
 color: #00B38F;
 font-size:12px;
}

.links a:hover{
 text-decoration: #F68710 wavy underline;
 color: #00B38F;
 text-underline-offset: 5px;
}

.links p{
 color: #1f3d4c;
 margin-top: 10px;
}



/* MEDIA QUEIRES FOR LAPTOPS */
@media screen and (max-width: 1024px){
  body{
/*   background-color: red; */
  }
  
.list_grid{
    grid-template-columns: repeat(2, 1fr);
  }

  .grid_item_1{
  grid-column-start: 1;
}

.grid_item_2{
  grid-column-start: 2;
}

.grid_item_3{
  grid-column-start: 1;
}

.grid_item_4{
  grid-column-start: 2;
}
  
.grid_item_5{
  grid-column-start: 1;
}
  
#makers{
  position:relative;
  left: 0%;
}

}



/* END LAPTOPS MEDIA */

/* MEDIA QUEIRES FOR TABLETS */
@media screen and (max-width: 650px){
  body{
/*   background-color: blue; */
  }
  
  .headline{
    height: 244px;
  }




  .list_grid{
    display:block;
    max-width: 70%;
    margin: 10% auto;
/*     grid-template-columns: repeat(1, 1fr); */
  }

  .mainIntro {
    text-align: center;
    margin: 0% 0% 2.5% 0%;
    font: normal normal bold 3em/66px Helvetica Neue;
    color: #F35910;
    text-decoration: underline black;
    width: 100%;
  }


  .grid_item_1{
  grid-column-start: 1;
}

  .grid_item_2{
  grid-column-start: 1;
}

  .grid_item_3{
  grid-column-start: 1;
}
  #local{
  position:relative;
  left: 0%;
}
  
}

/* END TABLETS MEDIA */



/* MEDIA QUEIRES FOR MOBILES */
@media screen and (max-width: 420px){
  body{
/*   background-color: Yellow; */
  }

  .list_grid{
    max-width: 70%;
    margin: 25% auto;
}

}
