html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  --font-family: Helvetica Neue;
  /*   background-color:red; */
}

.swipe {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 0%;
  background-color: #F35910;
  z-index: 12;
}

#logo {
  width: 20vh;
  position: absolute;
  left: 2%;
  top: 2%;
  z-index: 1;

}

.headLeft {
  position: fixed;
  max-width: 30%;
  margin-top: 12%;
  left: -0.01%;
}

.headRight {
  position: fixed;
  max-width: 30%;
  margin-top: 12%;
  right: -0.01%;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 80%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: black;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #F35910;
  color: white;
}

.controlsMenu {
  margin: 20px 0px 0px 0px;
  position: absolute;
  right: 10px;
  z-index: 4;
}

.overwrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: fixed;
  z-index: 4;
  height: 100%;
  transition: transform 0.5s ease;

}

#overlay {
  transform: translateY(-100%);
  /* background-color: red; */
}

.half {
  position: absolute;
  grid-column: 7/13;
  width: 100vw;
  height: 100vh;
  background-color: #00B38F;
  z-index: 1;

}

.halfLeft {
  position: absolute;
  grid-column: 1/12;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  z-index: 1;
}

.overlayNav {
  font-family: var(--font-family);
  font-size: 6vw;
  font-weight: bold;
  letter-spacing: -1px;
  grid-column: 3/11;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 3;

}

.nav_left {
  grid-column: 1/2;
  margin: auto;
  /*   z-index:2; */
  /*   background-color:red; */
}

.nav_right {
  grid-column-start: 2;
  margin: auto;
  /*   z-index:2; */
  /*   background-color: #00B38F; */
}


.overlayNav ul {
  list-style-type: none;

}

.overlayNav li {
  font-family: var(--font-family);
  font-size: 6vw;
  font-weight: bold;
  color: #363534;
  padding: 4vh;
}

.overlayNav li:hover {
  /*   border-bottom: 10px solid #00B38F; */
  text-decoration: underline;
  text-decoration-color: #00B38F;
  color: #F35910;
  opacity: 0.8;
}

.nav_right li:hover {
  /*   border-bottom: 10px solid #00B38F; */
  text-decoration: underline;
  text-decoration-color: #F35910;
  color: #f5f5f5;
}

.overlayNav a {
  text-decoration: none;
}

.left_banner {
  grid-column: 1/3;
  height: 100vh;
  /*   background-color: #F35910; */

}

.right_banner {
  grid-column: 11/13;
  height: 100vh;
  /*  background-color: #00B38F; */
}

.nav_socials {
  position: relative;
  font-family: var(--font-family);
  margin: 35vh 0% 0% 35%;
  z-index: 2;
}

.nav_socials li {
  color: white;
  font-size: 3ems;
  font-weight: 300;
  text-decoration-line: underline;
  margin: 25% 0px 0px 0%;
}

.nav_socials h1 {
  font-weight: 600;
}


.controlsClose {
  margin: 20px 0px 0px 0px;
  position: absolute;
  right: 10px;
  z-index: 3;
}

#close {
  position: relative;
  font-family: var(--font-family);
  font-size: 28px;
  right: 80px;
  top: -45px;
  color: #363534;

}


/* ----------  Nav Address  ---------------- */


.nav_address_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  z-index: 1;
}

.nav_address {
  grid-column: 1/4;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 300;
  color: #F35910;
  margin: -30vh 0 0 0;
  padding-left: 0%;
}

.nav_address a {
  color: #F35910;
}

.nav_address a:hover {
  opacity: 0.5;
}

.mobileSocials {
  display: none;
}


/* ----------  FOOTER ---------- */

.deskfoot {
  background-color: #F35910;
  display: grid;
  height: 300px;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  position: relative;
}


.deskfoot li a {

  width: auto;
  text-align: left;
  font: normal normal 100 30px/0px Helvetica Neue;
  letter-spacing: 0px;
  color: white;
  text-decoration: none;
}

.footHead {
  width: auto;
  text-align: left;
  font: normal normal 500 20px/30px Helvetica Neue;
  letter-spacing: 0px;
  color: white;
  text-decoration: none;
}

.deskfoot h4,
a,
label {
  width: auto;
  text-align: left;
  font: normal normal 100 12px/15px Helvetica Neue;
  letter-spacing: 0px;
  color: white;
  text-decoration: none;
}

.deskfoot>form {
  width: auto;
  text-align: left;
  font: normal normal 100 10px/15px Helvetica Neue;
  letter-spacing: 0px;
  color: white;
  text-decoration: none;

}

.deskfoot input::placeholder {
  width: auto;
  text-align: left;
  font: normal normal 400 15px/15px Helvetica Neue;
  letter-spacing: 0px;
  text-decoration: none;
  color: black;
}



.footaddress {
  grid-column: 3/6;
  grid-row-start: 1;
  margin: 50px 0 10px 0;
  line-height: 0;
}

.footaddress a {
  text-decoration: none;
}


.footsocials {
  margin: 50px 0 10px 0;
  grid-column: 5/10;
  grid-row-start: 1;
  color: white;
}

.footsocials li {
  list-style-type: none;
  padding: 2px 0px 5px 0px;
  font-size: 36px;
  color: white;
  font: normal normal 100 12px/15px Helvetica Neue;
}

.footsocials:hover li:hover {
  color: blue;
}

.footnav {
  margin: 50px 0 0px 0;
  grid-column: 7/12;
  grid-row-start: 1;

}

.deskfoot a:hover {
  color: #11F2DB;
}


.footnav li {
  font: normal normal 100 12px/15px Helvetica Neue;
  list-style-type: none;
  margin: 10px 0 17px 0;
}

.mailing {
  font: normal normal 100 12px/15px Helvetica Neue;
  margin: 50px 0 10px 0;
  color: white;
  grid-column: 9/12;
  grid-row-start: 1;
}

.deskfoot input {
  margin: 20px 0 0 0;
  width: 80%;
  height: 40px;
  border: none;
  text-align: center;
  /*   box-shadow: 0px 10px 13px -7px #000000; */
}

.deskfoot .button {
  background-color: #00A695;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 2% 10%;
}

@media only screen and (max-width:1000px) {

  .deskfoot {
    margin: 0% 0% 0% 0%;
    padding: 10% 0% 0% 0%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 74vh;

  }

  .footaddress {
    grid-column-start: 1;
    margin: 0% 0 10px 14%;

  }

  .footsocials {
    grid-column-start: 2;
    margin: 0% 0 10px 14%;

  }

  .footnav {
    grid-column-start: 3;
    margin: 0% 0 10px 14%;

  }

  .mailing {
    margin: 8% 0 10px 28%;
    grid-column-start: 1;
    grid-row-start: 2;
  }


}


@media only screen and (max-width:800px) {

  .headLeft {
    position: fixed;
    max-width: 30%;
    margin-top: 40%;
    left: -0.01%;
  }

  .headRight {
    position: fixed;
    max-width: 30%;
    margin-top: 40%;
    right: -0.01%;
  }

  .deskfoot {
    margin: 0% 0% 0% 0%;
    padding: 10% 0% 0% 0%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

  }

  .footaddress {
    grid-column-start: 1;
    margin: 0% 0 10px 14%;

  }

  .footsocials {
    grid-column-start: 2;
    margin: 0% 0 10px 14%;

  }

  .footnav {
    grid-column-start: 1;
    grid-row-start: 2;
    margin: 0% 0 10px 14%;

  }

  .mailing {
    margin: 0% 0 10px 14%;
    grid-column-start: 2;
    grid-row-start: 2;
  }

}

@media only screen and (max-width: 600px) {

  .headLeft {
    position: fixed;
    max-width: 30%;
    margin-top: 60%;
    left: -0.01%;
  }

  .headRight {
    position: fixed;
    max-width: 30%;
    margin-top: 60%;
    right: -0.01%;
  }

  .deskfoot {
    margin: 0% 0% 0% 0%;
    padding: 10% 0% 0% 0%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: 42em;


  }

  .footaddress {
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 0% 25% 0% 25%;

  }

  .footsocials {
    grid-column-start: 1;
    grid-row-start: 2;
    margin: 0% 0 10px 25%;

  }

  .footsocials li {
    display: inline;
    padding: 2px 4% 5px 0px;
  }

  .footnav {
    grid-column-start: 1;
    grid-row-start: 3;
    margin: 0% 0 10px 25%;

  }

  .mailing {
    margin: -4% 0 10px 25%;
    grid-column-start: 1;
    grid-row-start: 4;
  }

  .deskfoot li a {

    width: auto;
    text-align: left;
    font: normal normal 100 5vw/0px Helvetica Neue;
    letter-spacing: 0px;
    color: white;
    text-decoration: none;
  }

  .deskfoot input {
    margin: 20px 0 0 0;
    /* width: 25%; */
    height: 10%;
    padding: 4% 26% 7% 25%;
  }

  .button {
    position: relative;
    width: 90%;
    padding: 5%;
    margin: 10% 0% 0% -10%;
  }



}



/* Extra Small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {

  #logo {
    width: 12vh;
    position: absolute;
    margin-left: 2%;
    top: 2%;

  }

  .overwrapper {
    background: red;
  }

  #overlay {
    background-color: white;
    width: 100%;
  }


  .controlsClose {
    margin: 20px 0px 0px 0px;
    right: -10px;
  }

  .controlsMenu {
    margin: 20px 0px 0px 0px;
    right: -10px;

  }

  .halfLeft {
    grid-column: 1/13;
  }

  .leftbanner {
    display: none;
  }

  .overlayNav {
    font-family: var(--font-family);
    font-size: 8vw;
    font-weight: bold;
    letter-spacing: -1px;
    grid-column: repeat(1, 100%);
    display: inline;
    margin: 100px auto 0% auto;
    height: 50vh;
  }

  .overlayNav li {
    color: #363534;
    padding: 10px 10px 10px 10px;
  }

  .overlayNav li:hover {
    text-decoration: underline;
    text-decoration-color: #00B38F;
    color: #F35910;
    opacity: 0.8;
  }

  .nav_right li:hover {
    text-decoration: underline;
    text-decoration-color: #00B38F;
    color: #F35910;
  }

  .nav_left {
    grid-column: 2/4;
    margin-left: 0%;
    margin-top: 0%;
  }

  .nav_right {
    margin-left: 0%;
  }

  .half {
    display: none;
  }

  .nav_socials {
    display: none;
  }


  .nav_address {
    display: none;
  }


  .mobileSocials {
    display: inline;
    position: fixed;
    /*   top: 80%; */
    bottom: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
    width: 60%;
    margin: 10% 0% 10% 2%;
  }

  /* Style the icon bar links */
  .mobileSocials a {
    display: inline;
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 2% 0 2%;
    transition: all 0.3s ease;
    color: black;
    font-size: 20px;
    z-index: 5;
  }

  /* Style the social media icons with color, if you want */
  .mobileSocials a:hover {
    /*   background-color: #F35910; */
    color: #F35910;
    z-index: 5;
  }


  .deskfoot input {
    width: 60%;
  }



}