/* .loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #ff9e0d;
    width: 0%;
    height: 100%;
  }
  
.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
  } */

.swipe {
    position: fixed;
    margin:0;
    padding:0;
    height: 100%;
    width: 0%;
    background-color: #F35910;  
    z-index: 12;
}